{% extends "base.html" %}
{% load static %}

{% block title %}Пользовательское соглашение {% endblock %}
{% block style %}{% static 'css/privacyPolicy.css' %}{% endblock %}

{% block content %}
<main>
    <h1>Пользовательское соглашение (Публичная оферта)</h1>
    <pre>
Настоящий документ является официальным предложением (офертой) ООО «Game Dealers» в адрес любого дееспособного лица (далее — «Пользователь») заключить договор на условиях, изложенных ниже.

1. Предмет соглашения
Мы предоставляем цифровые товары и услуги (ключи, подписки, пополнение аккаунтов, и др.) через интернет-сайт gamedealers.ru.

2. Оформление заказа
Пользователь оформляет заказ через интерфейс сайта. С момента оплаты договор считается заключённым. Заказ считается выполненным после доставки товара (в виде цифрового кода, активации, отправки).

3. Цены и оплата
Все цены указаны в российских рублях. Оплата возможна с использованием электронных платёжных систем, банковских карт и других доступных способов.

4. Возврат и отказ
Цифровые товары не подлежат возврату после предоставления, согласно п.14 Правил дистанционной торговли. В случае технической ошибки или невозможности оказания услуги — возможен возврат средств.

5. Ответственность сторон
Мы не несем ответственности за:
— неправильно указанные данные Пользователем;
— технические сбои сторонних сервисов;
— использование данных, нарушающих правила Steam или других платформ.

6. Персональные данные
Пользователь соглашается с Политикой конфиденциальности, размещённой на сайте.

7. Заключительные положения
Настоящее соглашение может быть изменено без предварительного уведомления. Актуальная версия доступна на сайте.

Дата публикации оферты: 12 июня 2025 г.
    </pre>

</main>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/cartCounter.js' %}"></script>
{% endblock %}