{% extends "base.html" %}
{% load static %}

{% block title %}Политика конфиденциальности и оферта{% endblock %}
{% block style %}{% static 'css/steamWallet.css' %}{% endblock %}

{% block content %}
<main class="main">
    <div class="replenishment-container">
        <h1 class="replenishment-container-title">Пополнение баланса Steam</h1>

        <form class="replenishment-container-form" id="steam-replenishment-form">
            <div class="replenishment-container-form-input">
                <label for="login">Логин Steam</label>
                <input id="login" name="login-steam" type="text" placeholder="Логин">
            </div>
            <div class="replenishment-container-form-input">
                <label for="amount">Сумма&nbsp;&#8381;</label>
                <input id="amount" name="amount-deposit" type="text" placeholder="Сумма от 100 &#8381;">
            </div>
            <button type="submit">Купить</button>
        </form>
    </div>

    <div class="info-block">
        <p>Минимальная сумма пополнения <span>100 рублей</span></p>
        <p>Комиссия <span>10%</span></p>
        <p>Инструкция:</p>
        <p>1. Введите логин вашего Steam аккаунта. Именно Логин, а не никнейм вашего аккаунта. <a href="#"
                id="open-modal">Подробнее</a></p>
        <p>2. Введите сумму пополнения и нажмите кнопку &laquo;Купить&raquo;</p>
        <p>3. Пополнение стим появится у вас в корзине, где вы можете выбрать способ оплаты, и оплатить</p>
        <p>4. Перед оплатой проверте сумму и логин</p>
        <p>5. После успешной оплаты деньги поступят на аккаунт в течении 5 минут</p>
    </div>
</main>
{% endblock %}
{% block modals %}
<div id="modal" class="modal">
    <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h2>Как найти логин Steam</h2>
        <img src="{% static 'images/steamLoginHelp.png' %}" alt="Пример логина Steam" class="modal-image">
        <p>Вот несколько шагов, которые помогут вам найти ваш логин Steam:</p>
        <ol>
            <li>Откройте клиент Steam.</li>
            <li>Нажмите на "Управление аккаунтом" в правом верхнем углу</li>
            <li>Найдите вкладку "Об аккаунте"</li>
            <li>Логин выделен цифрой 3 на изображении</li>
        </ol>
    </div>
</div>

<div id="error-modal" class="modal-overlay" style="display: none;">
    <div class="modal-window">
        <p id="error-message"></p>
        <button id="error-modal-close">Закрыть</button>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/steamWalletModal.js' %}"></script>
<script src="{% static 'js/cartCounter.js' %}"></script>
<script src="{% static 'js/steamWalletAddToCart.js' %}"></script>
{% endblock %}