//sass www/scss/_footer.scss:www/css/footer.css

.footer {
    background-color: black;
    margin-top: 150px;
    padding: 0px 50px 35px 50px;
    width: 100%;

    &-inner {
        max-width: 2000px;
        // margin: 0 auto;
        margin-inline: auto;
    }
    
    a {
        text-decoration: underline;
        font-size: 14px;
        text-align: center;
    }

    &-logo {
        max-width: 235px;
        min-width: 150px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-upper-block {
        display: grid;
        align-items: center;
        grid-template-columns: 20% 80%;

        &-links {
            display: flex;
            margin: 40px;
            justify-content: space-between;
            align-items: center;  
            
            &-container {
                display: flex;
                gap: 50px;
                align-items: center; 
                justify-content: center;
                flex-wrap: wrap; 
            }
        }

        .discord {
            display: flex;
            align-items: center;
            gap: 20px;
            text-align: center;
    
            @media (max-width: 1350px) {
                flex-direction: column;
                gap: 0;
                
            }
        }
    }

    &-divider {
        opacity: 0.3;
    }

    &-lower-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        &-links {
            align-items: center;
            display: flex;
            gap: 50px;

            @media (max-width: 400px) {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 1150px) {
    .footer {
        padding-top: 50px;
        &-upper-block {
            display: flex;
            flex-direction: column;
           
            &-links {
                display: flex;
                gap: 50px;
            }
        }
    }
}


@media (max-width: 600px) {
    .footer {
        &-upper-block {
            &-links {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        &-lower-block {
            flex-direction: column;

            p {
                text-align: center;
            }
        }
    }
}